# Garage S3 credentials 
GARAGE_ACCESS_KEY=mlflow-access-key
GARAGE_SECRET_KEY=mlflow-secret-key
GARAGE_BUCKET=mlflow-artifacts
GARAGE_REGION=garage

# Garage admin (must match admin_token in garage.toml)
GARAGE_ADMIN_TOKEN=9czFvI16VlFGkpMJs0Zw9e0sJyY5K93nBULxqCMu4lI=
GARAGE_RPC_SECRET=8cc512a562b4403dcb7a0545199db7a6e85cb20f99a9f1c8b9af03683c095b6d
# PostgreSQL
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflowpass
POSTGRES_DB=mlflow

# MLflow
MLFLOW_PORT=5000